<!-- Content
================================================== -->

<!-- Container / Start -->
<div class="container">

	<div class="row">

		<div class="col-xs-12">
			<h1 class="text-center">Privacy Policy</h1>
			<p>Evolution Real Estate LLC, (Evolution), is committed to keeping any and all personal information collected of those individuals that visit our website and make use of our online facilities and services accurate, confidential, secure and private. Our privacy policy has been designed and created to ensure those affiliated with Evolution Real Estate LLC of our commitment and realization of our obligation not only to meet but to exceed most existing privacy standards.</p>
			<p><strong>THEREFORE</strong>, this Privacy Policy Agreement shall apply to Evolution Real Estate LLC , and thus it shall govern any and all data collection and usage thereof. Through the use of www.evolution.ninja you are herein consenting to the following data procedures expressed within this agreement.</p>
			<h3>Collection of Information</h3>
			<p>It is highly recommended and suggested that you review the privacy policies and statements of any website you choose to use or frequent as a means to better understand the way in which other websites garner, make use of and share information collected.</p>

			<h3>Use of Information Collected</h3>
				<p>Evolution Real Estate LLC may collect and may make use of personal information to assist in the operation of our website and to ensure delivery of the services you need and request. At times, we may find it necessary to use personally identifiable information as a means to keep you informed of other possible products and/or services that may be available to you from www.evolution.ninja . Evolution Real Estate LLC may also be in contact with you with regards to completing surveys and/or research questionnaires related to your opinion of current or potential future services that may be offered.</p>
				<p>Evolution Real Estate LLC may disclose your personal information, without prior notice to you, only if required to do so in accordance with applicable laws and/or in a good faith belief that such action is deemed necessary or is required in an effort to:</p>
				<ul style="margin-left: 15px;">
					<li>Remain in conformance with any decrees, laws and/or statutes or in an effort to comply with any process which may be served upon Evolution Real Estate LLC and/or our website;</li>
					<li>Maintain, safeguard and/or preserve all the rights and/or property of Evolution Real Estate LLC; and</li>
					<li>Perform under demanding conditions in an effort to safeguard the personal safety of users of www.evolution.ninja and/or the general public.</li>
				</ul>

			<h3>Unsubscribe or Opt-Out</h3>
				<p>All users and/or visitors to our website have the option to discontinue receiving communication from us and/or reserve the right to discontinue receiving communications by way of email or newsletters. To discontinue or unsubscribe to our website please send an email that you wish to unsubscribe to . If you wish to unsubscribe or opt-out from any third party websites, you must go to that specific website to unsubscribe and/or opt-out.</p>
			<h3>Links to Other Web Sites</h3>
				<p>Our website does contain links to affiliate and other websites. Evolution Real Estate LLC does not claim nor accept responsibility for any privacy policies, practices and/or procedures of other such websites. Therefore, we encourage all users and visitors to be aware when they leave our website and to read the privacy statements of each and every website that collects personally identifiable information. The aforementioned Privacy Policy Agreement applies only and solely to the information collected by our website.</p>
			<h3>Security</h3>
				<p>Evolution Real Estate LLC shall endeavor and shall take every precaution to maintain adequate physical, procedural and technical security with respect to our offices and information storage facilities so as to prevent any loss, misuse, unauthorized access, disclosure or modification of the user's personal information under our control.</p>
			<h3>Changes to Privacy Policy Agreement</h3>
				<p>Evolution Real Estate LLC reserves the right to update and/or change the terms of our privacy policy, and as such we will post those change to our website homepage at www.evolution.ninja, so that our users and/or visitors are always aware of the type of information we collect, how it will be used, and under what circumstances, if any, we may disclose such information. If at any point in time Evolution Real Estate LLC decides to make use of any personally identifiable information on file, in a manner vastly different from that which was stated when this information was initially collected, the user or users shall be promptly notified by email. Users at that time shall have the option as to whether or not to permit the use of their information in this separate manner.</p>
			<h3>Acceptance of Terms</h3>
				<p>Through the use of this website, you are hereby accepting the terms and conditions stipulated within the aforementioned Privacy Policy Agreement. If you are not in agreement with our terms and conditions, then you should refrain from further use of our sites. In addition, your continued use of our website following the posting of any updates or changes to our terms and conditions shall mean that you are in agreement and acceptance of such changes.</p>
			<h3>How to Contact Us</h3>
			<p><strong>Phone:</strong> (801)921-9290</p>
			<p><strong>Mailing Address:</strong><br> Evolution Real Estate LLC<br>
				116 S Vernal Ave Ste 1<br>
				Vernal, Utah 84078</p>
		</div>
	</div>

</div>
<!-- Container / End -->

